@font-face {
  font-family: "MontserratRegular";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
  background-image: url("../img/list_1200x720.png");
  background-repeat: repeat;
  font-family: "MontserratRegular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  padding-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 1.5rem;
}

h2 span {
  font-size: 80%;
  font-style: italic;
  color: slateblue;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1000px;
  padding: 0 0.8rem;
  margin: 0 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
